@import '../../styles/mixin.scss';
.card-container {
  position: relative;
  &:hover {
    .m-card{
      background-color: #efefef;
    }
    .card-btns {
      display: block;
    }
  }
  // 按钮组
  .card-btns {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    // 卡片右上角按钮
    .icon {
      cursor: pointer;
      font-size: .2rem;
      padding: .08rem;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
.m-card {
  cursor: pointer;
  text-align: center;
  margin-bottom: .16rem;
  background-color: #fff;
  transition: all .4s;
  color: rgba(0, 0, 0, 0.65);
  position: relative;
  .m-card-logo {
    .icon {
      font-size: .8rem;
    }
    .name {
      font-size: .18rem;
      margin-top: .16rem;
    }
  }
}
