@import '../../styles/mixin.scss';
.p-box{
    min-width: 150px;
    min-height: 200px;
    // background-color: #dbd;

    .p-container{
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 2px;
        font-size: 12px;
        position: relative;
        -webkit-transition: all .3s;
        transition: all .3s;
        &:hover{
            box-shadow: 0 1px 6px rgba(0,0,0,.2);
            border-color: transparent;
        }
    }
}