body, h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
             "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
             SimSun, sans-serif;
}
.markdown-body h1, .markdown-body h2 {
  padding-bottom: .75em;
  margin-top: 3em;
}

.doc-img-wrapper {
  background: #f7f7f7;
  padding: 16px;
  display: inline-block;
  text-align: center;
  width: 80%;
  position: relative;
  border-radius: 4px;
}
.doc-img-r {
  display: block;
}
.doc-img {
  width: 50%;
  display: block;
  margin: 24px 0;
}

.list-index {
  padding: 6px;
  background-color: #ff561b;
  color: #fff;
  font:italic bold 18px arial,sans-serif;
  border-radius: 50%;
  display: inline-block;
  width: 2.2em;
  height: 2.2em;
  line-height: 1.6em;
  margin-right: .6em;
  text-align: center;
  vertical-align: middle;
}

/* 覆盖掉 Interface 下的标题样式 */
.markdown-body blockquote.api {
  background-color: transparent;
}
.markdown-body blockquote.api:before {
  content: '';
  display: none;
}

/* markdown 的注释样式 */
.markdown-body blockquote {
  border-left: 4px solid #ff561b;
  background-color: #f8f8f8;
  padding: .12rem .24rem;
  position: relative;
}
.markdown-body blockquote:before {
  content: '!';
  display: block;
  position: absolute;
  left: -.12rem;
  top: .12rem;
  width: 20px;
  height: 20px;
  background-color: #ff561b;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}
.ydoc .ydoc-banner-bg {
  /* background: url(https://ws1.sinaimg.cn/large/006cGJIjly1fl42tf966mj31dr0aqahp.jpg) 0 top repeat-x; */
  /* background-color: #232323; */
  /* background: linear-gradient(45deg,#020031 0,#6d3353 100%); */
  background: linear-gradient(45deg,#03010e 0,#a75afb 100%);

}


.ydoc .ydoc-banner-home .home-desc{
  padding: 0 1rem .16rem;
  font-weight: normal;
  font-size: 20px;
}
.logo {
  align-items: center;
  padding: 0 .24rem;
  display: flex;
  justify-content: center;
}

.logo .name {
  font-size: 50px;
  color: #fff;
  margin-left: 16px;
  -webkit-font-smoothing: antialiased;
}
.ydoc .ydoc-banner-home {
  padding: .6rem 0;
}
.ydoc .ydoc-banner-home .home-desc {
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

.svg {
  animation: spin 5s linear infinite;
}
.ydoc-container {
  background-color: #fff;
}
.ydoc-container-content {
  box-shadow: none;
}
.ydoc-banner-area h1 {
  -webkit-font-smoothing: antialiased;
  color: #fff;
}
.ydoc .ydoc-banner-bg .desc {
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

@keyframes spin
{
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.ydoc .ydoc-banner-home .home-btn{
  color: #e5e6e6;
  font-weight: 400;
}

.ydoc .ydoc-banner-home .home-version{
  /* color: #969594; */
  color: #cfcdd1;
}

.ydoc-header{
  background: #fff;
}

.ydoc-header a, .ydoc-nav{
  color: #333;
}

.ydoc-nav li a {
  padding: 0 15px;
  color: #4f2a7c;
  font-weight: 400;
  transition: all .4s;
}

.ydoc .home-page-desc{
  color: #6b6868;
}

.ydoc .footer{
  background-color: #f7f7f7;
}

.ydoc .footer .copyright {
  font-size: 14px;
  text-align: center;
  color: #868e96;
}

.ydoc .footer .copyright a {
  color: #495057;
}

.ydoc .ydoc-header .navbar-brand img{
  width: 32px;
}

.ydoc .navbar-brand{
  font-weight: 500;
}

.ydoc .ydoc-banner-home .home-btn:hover{
  background: #552d84;
  border: 1px solid;
  border-color: #fff;
}

.ydoc .navbar-toggle{
  color: #333; 
}

.ydoc .ydoc-nav .navbar-left li:nth-child(1){
  display: none;
}