@import '../../../../styles/mixin.scss';

.interface-edit{
  padding: 24px;
  // overflow: hidden;
  .interface-edit-item{
    margin-bottom: 16px;
  }

  .interface-edit-json-info{
    margin-bottom: 5px;
  }

  .interface-edit-item.hide {
    display: none;
  }
  .interface-edit-item-content{
    margin-bottom: 16px;
    .interface-edit-item-content-col{
      padding:0 1px;
    }
  }
  .interface-edit-del-icon{
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer
  }
  .interface-edit-direc-icon{
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer
  }
  .ant-select-selection__rendered{
    line-height: 34px;
  }
  .interace-edit-desc{
    height: 250px;
  }
  .ant-affix{
    background-color: #f3f4f6;
     padding: 16px 0;
     z-index: 999;
  }
  .interface-edit-submit-button{
      background-color: #32325d;
      color: #fff;
  }

  .interface-edit-submit-button:hover{
    color: #32325d;
    border-color: #32325d;
  }
}

.table-interfacelist {
  margin-top: .2rem;
  white-space: nowrap;
  table {
    table-layout: fixed;
  }
  .path {
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
  .colValue{
    display: inline-block;
    border-radius: 4px;
    color: #00a854;
    background: #cfefdf;
    border-color: #cfefdf;
    height: 23px;
    line-height: 23px;
    text-align: center;
    font-size: 10px;
    margin-right: 7px;
    padding: 0 5px;
  }
  .ant-select-selection {
    background-color: transparent;
    border: none;
  }
}

.toolTip .ant-tooltip-inner{
  white-space: normal;
  word-break: break-all;
}

