.interface-edit{
  padding:10px;
  .interface-edit-item{
    margin-bottom: 10px;
  }
  .interface-edit-item-content{
    margin-bottom: 10px;
  }
  .interface-edit-del-icon{
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer
  }
  .ant-select-selection__rendered{
    line-height: 34px;
  }
}

.table-interfacelist {
  margin-top: .2rem;
  white-space: nowrap;
  .path {
    width: 400px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    display: inline-block;
  }
  .colValue{
    display: inline-block;
    border-radius: 4px;
    color: #00a854;
    background: #cfefdf;
    border-color: #cfefdf;
    height: 23px;
    line-height: 23px;
    text-align: center;
    font-size: 10px;
    margin-right: 7px;
    padding: 0 5px;
  }
}

.toolTip .ant-tooltip-inner{
  white-space: normal;
  word-break: break-all;
}

@media (max-width: 1100px) {
  .table-interfacelist .path {
      width: 360px;
  }
}
@media (max-width: 980px) {
  .table-interfacelist .path {
      width: 280px;
  }
}
