.interface-edit{
  padding:10px;
  .interface-edit-item{
    margin-bottom: 10px;
  }
  .interface-edit-item-content{
    margin-bottom: 10px;
  }
  .interface-edit-del-icon{
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer
  }
}