.interface-test {
  .has-plugin, .req-part, .resp-part {
    margin: 8px;
  }
  // .interface-name {
  //   font-size: 24px;
  //   margin-bottom: 24px;
  // }
  .url {
    display: flex;
  }
  .icon-btn {
    cursor: pointer;
    margin-left: 6px;
  }
  .icon-btn:hover {
    color: #108ee9;
  }
}
.floatfix:after{
    content:"";
    display:table;
    clear:both;
}
