.postman-dataImport{
    display: flex;
    .dataImportCon{
        min-width: 274px;
        background-color: #ececec;
        padding: 16px;
        border-radius: 4px;

        .ant-upload-drag{
            padding: 16px;
            background-color: white;
        }
        .dataImportTile{
            color: #2395f1;
            padding: 16px 0px;
            font-weight: 500;
            width: 100%;
            .ant-select{
                width: 100%;
            }
        }
        .export-content{
            text-align: center;
        }
        .export-desc{
            padding-bottom: 15px;
        }
        .export-button{
            width: 100px;
            height:35px;
        }
    }
}

