@charset "utf-8";
@import '~antd/dist/antd.css';

html {
  font-size:625%
}
html, body {
  font-family: tahoma, 'Microsoft Yahei';
  margin: 0;
  padding: 0;
  height: 100%;
}

div, article, p, table, tr, td, th, ul, ol, li, h1, h2, h3, form, dl, dt, dd {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #636363;
}

em {
  font-style: normal;
}

// 页面最外层元素 样式
.router-main {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 100%;
}
