$color-white : #fff;
$color-bg-gray: #ececec;
$color-blue : #108ee9;
$color-blue-deeper: #34495E;
$color-grey-deep : #929aac;
$color-black-light : #404040;
$color-bg-dark: #273848;            // 背景色 - 深蓝

@mixin row-width-limit {
  max-width: 12.2rem;
  min-width: 10.2rem;
  padding: 0 .24rem;
}

@mixin wrap-width-limit {
  min-width: 10.2rem;
}
