@import '../../styles/common.scss';

.ant-tabs-nav-wrap {
  font-size: .16rem;
  text-align: center;
}

.login-form-button {
  // background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%) !important;
  // border: none !important;
  width: 100%;
}

.ant-form-item {
  margin-bottom: .1rem;
}

.qsso-breakline{
  display: flex;
  align-items: center;
  color: #f7fafc;
  margin: .2rem auto;
  &:before, &:after{
    content: "";
    display: inline-block;
    height: .02rem;
    flex: 1;
    border-top: .01rem solid #f7fafc;
  }
  .qsso-breakword{
    padding: 0 .1rem;
  }
}
