.ace_editor.fullScreen {
  height: auto;
  width: auto;
  border: 0;
  margin: 0;
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000008;
}

.ace_editor .ace_print-margin{
  visibility: hidden !important 
}

.fullScreen {
  overflow: hidden
}

.ace_editor.ace-xcode {
  background-color: #f5f5f5;
  color: #000000;
}