@import '../../styles/common.scss';
$color-white : #fff;
$color-blue : #108ee9;
$color-blue-deeper: #34495E;
$color-grey-deep : #929aac;
$color-black-light : #404040;
/* .header-box.css */
.header-box {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 0.14rem;
  color: $color-white;
  z-index: 99;
  // 内容宽度
  .content {
    max-width: 11rem;
    margin: 0 auto;
    zoom: 1;
    overflow: hidden;
  }

  .logo {
    font-size: .3rem;
    float: left;
    margin: 0 .2rem 0 0;
    color: $color-white;
    //cursor: pointer;
    a{
      color: $color-white;
      &:hover {
        color: $color-white;
      }
      &:focus{
        text-decoration: none;
      }
    }
  }

  .nav-toolbar {
    font-size: .15rem;
    float: left;
  }

  .user-toolbar{
    float: right;
    line-height: .14rem;
    li{
      float: left;
      margin: .26rem 0;
      padding: 0 0 0 .12rem;
      font-size: .14rem;
      cursor: pointer;
      color: $color-white;
      &:not(:last-child){
        border-right: .01rem solid $color-white;
        padding: 0 .12rem;
      }
      &:hover{
        color: $color-blue;
        a{
          color: $color-blue;
        }
      }
      a{
        color: $color-white;
        &:hover{
          color: $color-blue;
        }
        &:focus{
          text-decoration: none;
        }
      }
      i{
        margin-right: .03rem;
      }
    }
  }
}
