@import '../../styles/common.scss';
@import '../../styles/mixin.scss';

.footer{
    @include wrap-width-limit;
    margin: 0px auto;
    clear: both;
    font-size: 12px;
    background: #000c15;
    position: relative;
    z-index: 1;
    color: rgba(255,255,255,.65);
    box-shadow: 0 1000px 0 1000px #fff;
    // background-image: url('image/footer-bac.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    h4{
        margin-bottom: 20px;
        color: #FFF;
        i{
            margin-left: -20px;
        }
    }
}
.footerMask{
    @include wrap-width-limit;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: #404040;
    opacity: .65;
    z-index: 1;
}
.footContent{
    @include row-width-limit;
    width:90%;
    margin:0px auto;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.footItem{
    padding: 24px 2%;
    width: 25%;
    float: left;
    div{
        margin: 6px 0px;
    }
    a{
        font-weight: 200;
        color: #b3bdc1;
        &:hover{
            color: white;
        }
    }

}
.copyRight{
    padding: 24px 2%;
    width: 25%;
    float: left;
    font-size: 12px;
    text-indent: 1em;

    h4{
        font-size: 14px;
        margin: 0 auto 12px;
        font-weight: 500;
        position: relative;
        text-indent: 0em;
    }
}
