@import '../../styles/common.scss';
@import '../../styles/mixin.scss';

.footer-wrapper{
    height: 2rem;
    width: 100%;
}

.footContent{
    @include row-width-limit;
    //width:90%;
    margin:0 auto;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.footItem{
    padding: 24px 2%;
    width: 25%;
    float: left;
    div{
        margin: 6px 0;
    }
    a{
        font-weight: 200;
        color: #b3bdc1;
        &:hover{
            color: white;
        }
    }

}
.copyRight{
    padding: 24px 2%;
    width: 25%;
    float: left;
    font-size: 12px;
    text-indent: 1em;

    h4{
        font-size: 14px;
        margin: 0 auto 12px;
        font-weight: 500;
        position: relative;
        text-indent: 0;
    }
}
