$imgUrl : "../../../static/image/";
$color-grey : #E5E5E5;
$color-blue : #108ee9;
$color-white: #fff;

.intro-container{
  .des-container{
    padding-left: .15rem;
    .des-title{
      font-size: .24rem;
      margin-bottom: .1rem;
    }
    .des-detail{
      font-size: .15rem;
      margin-bottom: .2rem;
    }
    .des-switch{
      .switch-content{
        font-size: .14rem;
        margin-bottom: .15rem;
        div{
          float: left;
        }
        .icon-switch{
          height: .3rem;
          width: .3rem;
          border-radius: .02rem;
          background-color: $color-blue;
          margin-right: .1rem;
          color: $color-white;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  .img-container{
    padding-right: .15rem;
    //background-image: url("#{$imgUrl}demo-img.png");
    img{
      height: 100%;
      width: 100%;
      border: .01rem solid $color-grey;
      box-shadow : 0 0 3px 1px $color-grey;
      border-radius: .04rem;
    }
  }
}
