.ObjectBrace {
  color: #00AA00;
  font-weight: bold;
}
.ArrayBrace {
  color: #0033FF;
  font-weight: bold;
}
.PropertyName {
  color: #CC0000;
  font-weight: bold;
}
.String {
  color: #007777;
}
.Number {
  color: #AA00AA;
}
.Boolean {
  color: #0000FF;
}
.Function {
  color: #AA6633;
  text-decoration: italic;
}
.Null {
  color: #0000FF;
}
.Comma {
  color: #000000;
  font-weight: bold;
}