.create-template {
  margin: 15px 0;
}
.form-btn {
  margin-right: 15px;
}
.ant-affix{
  background-color: #f3f4f6;
  padding: 16px 0;
  z-index: 999;
}
.interface-edit-submit-button{
  background-color: #1d1d3d;
  color: #fff;
}

.interface-edit-submit-button:hover{
  border-color: #434370;
  background-color: #434370;
}
.template-save {
  text-align: center;
  margin-top: 20px;
}
.create-template-form {
  background: rgba(236, 238, 241, 0.67);
  padding: 20px 0;
}