.handle-interface-list {
  a {
    margin-right: 10px;
  }
}
.create-template {
  margin-bottom: 15px;
}
.search-select {
  width: 400px;
  margin: 15px 0;
}
.aceeditor-height {
  height: 400px
}
.new-schema {
  .ant-modal {
    width: 700px !important;
  }
}