
.form-item {
  margin-bottom: .16rem;
}
.breakline {
  margin-top: .18rem;
  margin-bottom: .18rem;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.card-danger {
  border-color: #ff561b;
  border-radius: 4px;
  .ant-card-body {
    display: flex;
    align-items: center;
  }
  .card-danger-content {
    flex: 1;
  }
  .card-danger-btn {
    flex-grow: 0;
    flex-shrink: 1;
  }
}

.setting-group {
  .ant-card-head {
    background-color: #eee;
  }
  .ant-card-body {
    padding: 0;
  }
  .card-item {
    padding: .1rem .15rem;
    position: relative;
    .item-img {
      width: .2rem;
      height: .2rem;
      margin-right: .08rem;
      vertical-align: middle;
    }
    .item-name {
      position: absolute;
      left: .43rem;
      top: 50%;
      transform: translateY(-50%);
    }
    .item-role {
      position: absolute;
      right: .15rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .card-item + .card-item {
    border-top: 1px solid #eee;
  }
}
