
.form-item {
  margin-bottom: .16rem;
}
.breakline {
  margin-top: .18rem;
  margin-bottom: .18rem;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.card-danger {
  border-color: #ff561b;
  border-radius: 4px;
  .ant-card-body {
    display: flex;
    align-items: center;
  }
  .card-danger-content {
    flex: 1;
  }
  .card-danger-btn {
    flex-grow: 0;
    flex-shrink: 1;
  }
}

.setting-group {
  .ant-card-head {
    background-color: #eee;
  }
  .ant-card-body {
    padding: 0;
  }
  .card-item {
    padding: .1rem .15rem;
    position: relative;
    .item-img {
      width: .2rem;
      height: .2rem;
      margin-right: .08rem;
      vertical-align: middle;
    }
    .item-name {
      position: absolute;
      left: .43rem;
      top: 50%;
      transform: translateY(-50%);
    }
    .item-role {
      position: absolute;
      right: .15rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .card-item + .card-item {
    border-top: 1px solid #eee;
  }
}

.project-setting {
  .setting-logo {
    text-align: right;
    padding: .24rem;
    cursor: pointer;
  }
  .setting-intro {
    padding: .24rem;
    height: 1.48rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .ui-title {
      font-size: .32rem;
      font-weight: normal;
      width: 100%;
    }
    .ui-desc {
      font-size: .16rem;
    }
  }
  .ui-logo {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    font-size: .5rem;
    color: #fff;
    background-color: #2395f1;
    line-height: 1rem;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  }
}

.change-project-container {
  max-width: 320px;
  .ant-popover-inner {
    text-align: center;
  }
  .ant-popover-title {
    padding: 8px .16rem;
    height: auto;
  }
  .ant-radio-button-wrapper {
    font-size: 16px;
    border: none;
    &:first-child {
      border: none;
    }
    &:not(:first-child)::before {
      display: none !important;
    }
  }
  .ant-radio-button-wrapper-checked {
    box-shadow: none;
    color: #fff;
    background-color: #2395f1;
    border-radius: 4px;
  }
}
