.interface-test {
  .has-plugin, .req-part, .resp-part {
    margin: 8px;
  }
  .url {
    display: flex;
    margin-bottom: 24px;
  }
  .key-value-wrap {
    display: flex;
    align-items: center;
    margin: 0 0 5px 0;
    .key {
      flex-basis: 220px;
    }
    .value {
      flex-grow: 1;
    }
    .eq-symbol {
      margin: 0 5px;
    }
  }
  .icon-btn {
    cursor: pointer;
    margin-left: 6px;
  }
  .icon-btn:hover {
    color: #108ee9;
  }
}
.add-col-modal {
  .col-list {
    height: 200px;
    overflow: auto;
    margin: 7px 0 16px 0;
    background: #eaeaea;
    .col-item {
      padding: 7px 10px 7px 10px;
    }
    .col-item:hover {
      background: #fa0;
    }
    .col-item.selected {
      background: #108ee9;
    }
  }
}
