
.add-col-modal {
  .col-list {
    height: 200px;
    overflow: auto;
    margin: 7px 0 16px 0;
    background: #eaeaea;
    .col-item {
      padding: 7px 10px 7px 10px;
    }
    .col-item:hover {
      background: #fa0;
    }
    .col-item.selected {
      background: #2395f1;
      color: rgba(255, 255, 255, 1);
    }
  }
}