.col-list-tree {
  .ant-tree-node-content-wrapper {
    width: calc(100% - 24px);
  }
  .menu-title {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    .casename {
      overflow: hidden;
    }
    .case-delete-icon{
      margin-left: 5px;
      display: none;
    }
    i:before{
      line-height: 17px;
    }
  }
  .menu-title:hover {
    .case-delete-icon {
      display: block;
    }
  }
}
