.col-list-tree {
  line-height: 25px;
  .ant-tree-node-content-wrapper {
    width: calc(100% - 24px);
  }
  .opts-icon, .case-delete-icon {
    line-height: 25px;
    width: 30px;
  }
  .opts-icon:hover, .case-delete-icon:hover {
    color: #2395f1;
    border-radius: 4px;
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  }
  .menu-title {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    .casename {
      overflow: hidden;
    }
    .case-delete-icon{
      margin-left: 5px;
      display: none;
    }
  }
  .menu-title:hover {
    .case-delete-icon {
      display: block;
    }
  }
}
