@import '../../styles/common.scss';
/* .home-main.css */
.home-main {
  display: -webkit-box;
  max-width: 11rem;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  .main-one{
    height:calc(100% - .64rem);
    padding: .5rem 0;
    .home-des{
      padding: .3rem 0;
      .title{
        font-size: .6rem;
      }
      .detail{
        font-size: .23rem;
      }
    }
    .login-form{

    }
  }

}


