/* .interface-box.css */
.interface-box {
  max-width: 11rem;
  margin: 24px auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
  background: #FFF;
  overflow: hidden;
  .interface-btngroup {
    margin: .24rem .24rem 0;
  }
  .interface-btn {
    margin-right: .16rem;
  }
  .interface-table {
    margin: .24rem;
  }
}

/* .interface-mode-box.css 管理项目成员弹层 */
.interface-mode-box {
  .add-user {
    display: -webkit-box;
    .ant-input {
      width: 70%;
      display: block;
    }
    .ant-btn {
      margin: 0 0 0 15px;
      height: 32px;
    }
  }

  .users {
    margin: 10px 0 0 0;
    font-size: 0.14rem;
    p {
      line-height: 0.21rem;
    }
    .tags {
      margin: 10px 0 0 0;
    }
  }
}
