/* .interface-box.css */
.interface-box {
  max-width: 11rem;
  display: -webkit-box;
  -webkit-box-flex: 1;
  margin: 15px auto 0 auto;
  font-size: 0.14rem;
  background: #FFF;

  .interface-list {
    width: 216px;
    line-height: 45px;
    background: #f9fafe;
    
    li {
      padding: 0 0 0 30px;
      color: #344562;
      cursor: pointer;
      
      &:hover {
        color: #29f;
      }
      
      a {
        color: #344562;
        &:hover {
          color: #29f;
        }
      }
    }
  }

  .interface-table {
    -webkit-box-flex: 1;
    margin: 0 0 0 20px;

    .ant-table-wrapper table {
      font-size: .14rem;

      button {
        margin: 0 10px 0 0;
      }
    }
  }
}

/* .interface-mode-box.css 管理项目成员弹层 */
.interface-mode-box {
  .add-user {
    display: -webkit-box;
    .ant-input {
      width: 70%;
      display: block;
    }
    .ant-btn {
      margin: 0 0 0 15px;
      height: 32px;
    }
  }

  .users {
    margin: 10px 0 0 0;
    font-size: 0.14rem;
    p {
      line-height: 0.21rem;
    }
    .tags {
      margin: 10px 0 0 0;
    }
  }
}

