@import '../../styles/common.scss';
@import '../../styles/mixin.scss';


.follow-box{
    padding: 24px;
    background-color: #fff;
}

.card-panel {
  border-radius: 4px;
  box-shadow: $box-shadow-panel;
}
