.wiki-content {
  .wiki-user {
    padding-top: 8px;
  }

  .wiki-editor {
    padding-top: 16px;
  }

  .upload-btn {
    margin-right: 16px;
  }
  .wiki-conflict {
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
  }

  .wiki-up {
    text-align: right;
    padding-top: 16px;
  }

  .wiki-title {
    padding-bottom: 16px;
  }
}
