.err-msg {
  text-align: center;
  font-size: .14rem;
  line-height: 2;
  margin-bottom: .24rem;
  color: rgba(13, 27, 62, 0.43);
  .icon {
    font-size: .6rem;
    margin-bottom: .08rem;
  }
  .title {
    font-size: .18rem;
  }
  .desc {

  }
  .opration {

  }
}
