.err-msg {
  text-align: center;
  font-size: .14rem;
  color: #999;
  line-height: 2;
  .icon {
    font-size: .6rem;
    margin-bottom: .08rem;
  }
  .title {
    font-size: .18rem;
  }
  .desc {

  }
  .opration {

  }
}
