@import '../../styles/mixin.scss';

.g-doc {
  margin: 0 auto .24rem;
}

/* .user-box.css */
.user-box {
  @include row-width-limit;
  padding: 0;
  display: -webkit-box;
  -webkit-box-flex: 1;
  margin: 0 auto;
  margin-top: 24px;
  .user-list {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
    background: #FFF;
    border-radius:4px;
    min-height: 5rem;
    .search{
      padding: 5px;
      background-color: #eee;
    }
    ul{border:none}
    .ant-menu-item{
      font-size: 18px;
    }
  }
  .user-name{
    padding: .24rem;
    // text-align: center;
    background-color: #34495e;
    color: white;
    font-size: 18px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    span{
      margin-right: 5px;
    }
  }
  .router-content{
    min-height:calc(100% - 2.47rem);
  }
  .user-table {
    -webkit-box-flex: 1;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
    background: #FFF;
    min-height: 5rem;
    .ant-table-wrapper table {
      // font-size: .14rem;

      a {
        // font-size: 12px;
      }
    }

  }

  .user-profile {
    -webkit-box-flex: 1;
    padding: 32px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
    background: #FFF;
    border-radius: .04rem;
    min-height: 5rem;
    position: relative;
    .bacToPer{
      position: absolute;
      right: 40px;
      top: 40px;
      z-index: 3;
    }
    .user-item-body{
      padding: 32px;
      background-color: #ececec;
      position: relative;
      .user-item-mask-top{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background: black;
        z-index: 2;
        opacity: .7;
      }
      .user-item-mask{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0,0,0,0.70);
      }
      .user-item{
        position: relative;
        z-index: 3;
        padding: 8px 0px;
        .maoboli{
          background-color: rgba(225,225,225,0.60);
          // filter: blur(3px);
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0px;
          top: 0px;
        }
        
      }

    }
    .user-item {
      min-height:35px;
      line-height:35px;
      margin: 5px;
      margin-left: 0px;
      margin-bottom: 16px;
      // border-bottom: 1px solid #f1f3f6;
      padding-bottom: 16px;
      font-size: 14px;
      #old_password,#password,#verify_pass{
        margin-top: 20px;
      }
      #old_password{
        margin-top: 0px;
      }
      .ant-col-12{
        .ant-input{
          width: 60%;
          margin-right: 16px;
        }
      }
      .ant-col-4{
        color: rgba(0,0,0,0.85);
        padding: 0px 16px;
        text-indent: .7em;
        // background-color: #f1f3f6;
        border-left: 4px solid #f1f3f6;
        margin-right: 30px;
        white-space: nowrap;
      }
      .text{
        padding-right: 15px;
      }
      .text-button{
        // font-size: 12px;
        color: #657289;
        cursor: pointer
      }
    }
  }

  .user-nav {
    border-bottom-left-radius: .04rem;
    border-bottom-right-radius: .04rem;
  }
  .avatar-uploader{
    border: none;
  }
  .avatar-uploader,
  .avatar-uploader-trigger{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50px;
  }
  .avatar{
    width: 100px;
    min-height: 100px;
    // border-radius: 50px;
  }
  .avatarImg{
    width: 100px;
    border-radius: 50px;
    overflow: hidden;
    height: 100px;
    background-color: white;
    margin: 0px auto;
    img{
      width: 100%;
    }
  }
  .avatar-uploader {
    display: block;
    cursor: pointer;
    height: 100px;
  }
  .ant-upload-list{
    display: none;
  }
  .avatar-box{
    width: 100px;
    margin: 0px auto;
  }
  .avatarCon{
    background: gray;
    padding: 16px 0px;
    margin-bottom: 16px;
    width: 100%;
    overflow: hidden;
    position: relative;
    
  }
  .m-bg {
      position: absolute;
      left: 0;
      top: -300px;
      height: 1200px;
      width: 100%;
      transform: skewY(-11deg);
      background-image: linear-gradient(-20deg, #21d4fd 0%, #b721ff 100%);
      .m-bg-mask {
        position: absolute;
        height: 180px;
      }
      .m-bg-mask0 {
        bottom: 0;
        left: 0;
        width: 30%;
        background-image: linear-gradient(120deg, #6ab3fd 0%, #8ba3fd 102%);
      }
      .m-bg-mask1 {
        bottom: 180px;
        right: 0;
        width: 36%;
        background-image: linear-gradient(120deg, #28c5f5 0%, #6682fe 100%);
      }
      .m-bg-mask2 {
        bottom: 540px;
        left: 0;
        width: 20%;
        height: 240px;
        background-image: linear-gradient(120deg, #8121ff 0%, #5e5ef7 100%);
      }
      .m-bg-mask3 {
        bottom: 540px;
        left: 20%;
        width: 70%;
        height: 240px;
        background-image: linear-gradient(-225deg, #5f2bff 0%, #6088fe 48%, #22ccf6 100%);
      }
    }
  .avatar-uploader-trigger {
    display: table-cell;
    vertical-align: middle;
    font-size: 28px;
    color: #999;
  }
  .avatarChange{
    display: block;
    width: 300px;
    text-align: center;
    padding: 8px;
    margin-left: -100px;
    color: #ececec;
  }



}
