@import '../../styles/mixin.scss';

.g-doc {
  margin: 0 auto .24rem;
}

/* .user-box.css */
.user-box {
  @include row-width-limit;
  padding: 0;
  display: -webkit-box;
  -webkit-box-flex: 1;
  margin: 0 auto;
  margin-top: 24px;
  .user-list {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
    background: #FFF;
    border-radius:4px;
    min-height: 5rem;
    .search{
      padding: 5px;
      background-color: #eee;
    }
    ul{border:none}
    .ant-menu-item{
      font-size: 14px;
    }
  }
  .user-name{
    padding: .24rem;
    // text-align: center;
    background-color: #34495e;
    color: white;
    font-size: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    span{
      margin-right: 5px;
    }
  }
  .router-content{
    min-height:calc(100% - 2.47rem);
  }
  .user-table {
    -webkit-box-flex: 1;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
    background: #FFF;
    min-height: 5rem;
    .ant-table-wrapper table {
      // font-size: .14rem;

      a {
        // font-size: 12px;
      }
    }

  }

  .user-profile {
    -webkit-box-flex: 1;
    padding: 24px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.20);
    background: #FFF;
    border-radius: .04rem;
    min-height: 5rem;
    .user-item {
      min-height:35px;
      line-height:35px;
      margin: 5px;
      margin-left: 0px;
      margin-bottom: 16px;
      border-bottom: 1px solid #f1f3f6;
      padding-bottom: 16px;
      #old_password,#password,#verify_pass{
        margin-top: 20px;
      }
      #old_password{
        margin-top: 0px;
      }
      .ant-col-12{
        .ant-input{
          width: 60%;
          margin-right: 16px;
        }
      }
      .ant-col-4{
        color: rgba(0,0,0,0.85);
        padding: 0px 16px;
        text-indent: .7em;
        // background-color: #f1f3f6;
        border-left: 4px solid #f1f3f6;
        margin-right: 30px;
        white-space: nowrap;
      }
      .text{
        padding-right: 15px;
      }
      .text-button{
        // font-size: 12px;
        color: #657289;
        cursor: pointer
      }
    }
  }

  .user-nav {
    border-bottom-left-radius: .04rem;
    border-bottom-right-radius: .04rem;
  }
  .avatar-uploader{
    border: none;
  }
  .avatar-uploader,
  .avatar-uploader-trigger{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50px;
  }
  .avatar{
    width: 100px;
    // border-radius: 50px;
  }
  .avatarImg{
    width: 100px;
    border-radius: 50px;
  }
  .avatar-uploader {
    display: block;
    cursor: pointer;
  }
  .ant-upload-list{
    display: none;
  }
  .avatar-uploader-trigger {
    display: table-cell;
    vertical-align: middle;
    font-size: 28px;
    color: #999;
  }
  .avatarChange{
    display: block;
    width: 100px;
    text-align: center;
    padding-bottom: 8px;
  }
}
