/* .user-box.css */
.user-box {
  max-width: 11rem;
  display: -webkit-box;
  -webkit-box-flex: 1;
  margin: 15px auto 0 auto;
  font-size: 0.14rem;
  background: #FFF;
  min-height:500px;

  .search{
    height: 40px;
    padding: 5px;
    background: #f9f9f9;

    input{
      background: #f9f9f9;
      line-height: 40px;
      height: 40px;
      border: 0;
      font-size: 14px;
    }

    input:focus{
      outline:0;
      border-color:0;
      box-shadow: none
    }



  }

  .user-list {
    width: 216px;
    line-height: 45px;
    background: #f9fafe;
    
    li {
      padding: 0 0 0 30px;
      a{
        color: #344562;
      }
      
      &.active,&.active a {
        background: #657289;
        color: #FFF;
        text-decoration: none;
      }

    }
  }

  .user-table {
    -webkit-box-flex: 1;
    margin: 0 0 0 20px;

    .ant-table-wrapper table {
      font-size: .14rem;

      button {
        margin: 0 10px 0 0;
      }
    }
  }

  .user-profile {
    -webkit-box-flex: 1;
    margin-top: 15px;
    margin-left: 15px;

    .user-item {
      min-height:35px;
      line-height:35px;
      margin: 5px;
      margin-bottom:10px;

      .text-button{
        font-size: 12px;
        color: #657289;
        cursor: pointer
      }

      .edit-buttons{
        margin:10px;
      }

      .edit-button{
        margin: 5px;
      }
    }
  }


}